@using System.Activities.Statements
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/DemoStyles")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                   @Html.Action("CategoryNavigation", "Home")
                </div>
            </div>
        </header>
    <div id="body">
        @*IN THE LAYOUT PAGES WE RENDER PREDEFINED SECTIONS FROM THE INDEX PAGES*@
        @RenderSection("Featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @*@RenderSection("scripts", required: false)*@
        @if (IsSectionDefined("scripts"))
        {
            @RenderSection("scripts")
        }

        @*@if (IsSectionDefined("~/Scripts/DemoScripts"))
        {
            @RenderSection("~/Scripts/DemoScripts")
        }*@

        @Scripts.Render("~/Scripts/DemoScripts")



    </body>
</html>
